:root {
  --body-color: 42, 58, 57;
  --accent-color: 10, 151, 75;
  --accent-color-dark: 0, 110, 40;

  --josefin-font: 'Josefin Sans', 'Helvetica', 'Arial', sans-serif;
  --inter-font: 'Inter', 'Helvetica', 'Arial', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('../assets/header-bg.png'),
    url('../assets/footer-bg.png');
  background-position: center top, left bottom;
  background-size: 130%, 150%;
  background-repeat: no-repeat, no-repeat;
  font-family: var(--inter-font);
  color: rgb(var(--body-color));
}

html {
  scroll-behavior: smooth;
}

/* nav */

nav {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

nav img {
  height: 60px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style-type: none;
  font-family: var(--josefin-font);
  font-weight: bold;
  text-transform: uppercase;
}

.nav-item a {
  text-decoration: none;
  color: rgb(var(--body-color));
  line-height: 1;
  transition: color 350ms ease-in-out;
}

.nav-item a:hover {
  color: rgb(var(--accent-color));
}

.active-link a {
  color: rgb(var(--accent-color));
  position: relative;
}

.active-link a::after {
  content: '';
  background-color: rgb(var(--accent-color));
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
}

.active-mobile-link {
  color: rgb(var(--accent-color)) !important;
}

.icon-bar {
  display: none;
  position: fixed;
  top: 30px;
  right: 15px;
  z-index: 100;
}

#mobil-menu {
  box-sizing: content-box;
  background: linear-gradient(
    125deg,
    rgba(85, 134, 123, 1) 0%,
    rgba(191, 188, 104, 1) 100%
  );
  padding: 0.5rem;
  border-radius: 30px;
  box-shadow: 0 0 5px rgb(0 0 0 / 0.25);
  color: white;
}

.mobile-dropdown {
  position: absolute;
  translate: 0 -1rem;
  top: 70px;
  right: 0;
  background-color: white;
  padding: 1.5rem 2rem;
  border-radius: 30px;
  width: calc(100vw - 2rem);
  box-shadow: 0 0 10px rgb(0 0 0 / 0.25);
  visibility: hidden;
  opacity: 0;
  transition: 250ms ease-in-out;
}

.mobile-links {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.mobile-link a {
  display: block;
  color: rgb(var(--body-color));
  font-family: var(--josefin-font);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  transition: 250ms ease-in-out;
}

.mobile-link {
  padding-block: 0.75rem;
}

.mobile-link a:hover,
.mobile-link a:focus {
  color: rgb(var(--accent-color));
}

.mobile-link:not(:first-child) {
  border-top: 1px solid #e1e1e1;
}

.show-menu {
  translate: 0 0;
  visibility: visible;
  opacity: 1;
}

/* main img */

.main-img {
  min-height: 400px;
  width: 100%;
  background-image: url('assets/img-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  border-radius: 2rem;
}

.img-wrapper {
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  border-radius: inherit;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.85) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  color: white;
  padding: 3rem;
}

.img-wrapper h1 {
  font-family: var(--josefin-font);
  position: relative;
}

.img-wrapper h1::after {
  content: '';
  background-color: rgb(var(--accent-color));
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 5px;
  border-radius: 5px;
}

.title-text-1 {
  font-size: 40px;
  font-weight: 300;
}

.title-text-2 {
  font-size: 48px;
  font-weight: bold;
}

.sobre-nosotros {
  margin: 3rem 5rem;
  font-size: 18px;
}

/* caracteristicas */

.ofrecemos-izq h2 {
  font-family: var(--josefin-font);
  font-size: 28px;
}

.img-2 {
  margin-top: 2rem;
  background-image: url('assets/img-2.png');
  background-position: 20% center;
  background-size: cover;
  width: 100%;
  min-width: 250px;
  height: calc(100% - 60px);
  border-radius: 1rem;
}

#container-ofrecemos {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  align-items: stretch;
  gap: 3rem;
  padding-inline: 5rem;
}

.caracteristicas {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  max-width: 45ch;
}

#caracteristicas-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 2rem;
}

@media (max-width: 640px) {
  .img-2 {
    display: none;
  }
  #container-ofrecemos {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
  .caracteristicas img {
    width: 75px;
  }
  .sobre-nosotros {
    margin: 2rem 0;
    font-size: 18px;
  }
  .img-wrapper {
    padding: 2rem 1.5rem;
  }
  .title-text-1 {
    font-size: 32px;
    font-weight: 300;
  }

  .title-text-2 {
    font-size: 40px;
    font-weight: bold;
  }
}

/* footer */

footer {
  margin-block: 5rem 3rem;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.5rem;
  padding-inline: 2rem;
}

.footer-link {
  font-family: var(--josefin-font);
  font-weight: bold;
  color: rgb(var(--body-color));
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-img {
  height: 50px;
}

hr {
  border: none;
  border-top: 1px solid rgb(var(--body-color));
}

.footer-div p {
  text-align: center;
  font-size: 13px;
  margin-top: 1rem;
}

/* generales */

.container {
  max-width: 1440px;
  padding-inline: 3rem;
  margin-inline: auto;
}

@media (max-width: 768px) {
  .container {
    padding-inline: 1.5rem;
  }
  nav img {
    height: 40px;
  }
  .nav-links {
    display: none;
  }
  .icon-bar {
    display: block;
  }
  #mobil-menu {
    height: 30px;
    cursor: pointer;
  }
  .footer-links {
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }
  .footer-link {
    position: relative;
  }
  .footer-link ~ .footer-link::before {
    content: ' | ';
  }
  .footer-img-a {
    flex: 1 0 100%;
    order: -1;
    margin-bottom: 1rem;
    align-self: center;
    text-align: center;
  }
  footer {
    margin-block: 3rem;
  }
  #container-ofrecemos {
    padding-inline: 0;
  }
}
